<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand">Menu</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav" *ngFor="let op of options">
                <li class="nav-item">
                    <a class="nav-link" [ngClass]="option == op.value? 'active': ''" aria-current="page"
                       (click)="onChange(op.value)">{{ op.label }}</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
